# Habilitar el motor de reescritura
RewriteEngine On

# Si la solicitud no es para un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f

# Si la solicitud no es para un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes a index.php
RewriteRule ^(.*)$ index.php [QSA,L]